.tdb_form { margin: 20px 0; }

.content { width: calc(100% - 190px); padding: 10px 25px; background-color: #fff; }
.content h3 { font-size: 20px; margin: 20px 0; }

.tableau { overflow: auto; margin-left: 150px; font-size: 11px; margin-top: 30px; }

.table-sapoval { font-family: "Helvetica Neue", Helvetica, "Open Sans"; }
.table-sapoval > thead > tr > th:first-child, 
.table-sapoval > tbody > tr > th:first-child { position: absolute; left: 25px; width: 150px; }

.table-sapoval > thead > tr > th, 
.table-sapoval > tbody > tr > th, 
.table-sapoval > tbody > tr > td  { min-width: 100px; line-height: 1.15em; border-right: thin solid #f0f0f0; }
.table-sapoval > thead > tr > th { border: 0; }
.table-sapoval > thead > tr > th { background-color: #fff; text-transform: uppercase; font-weight: 300; }

.table-sapoval tr:nth-child(even), 
.table-sapoval tr:nth-child(even) { background-color: #F0F0F0; }

.table-sapoval > thead > tr:nth-child(even) th, 
.table-sapoval > tbody > tr:nth-child(even) th { background-color: #F0F0F0; }

.positive { color: #2ECC71; }
.negative { color: #E74C3C; }

.section-data { font-weight: 700; }
/*.section-data th {  background-color: #F0F0F0; }
.table > tbody > tr.section-data > td, .table > tbody > tr.section-data th { border-top: 1px solid #000 !important; }*/

.yeardashboard { padding: 20px; min-height: 100%; }
.yeardashboard h3 { margin: 10px 15px; font-size: 20px; font-weight: 400; border-bottom: 1px solid #ddd; color: #5E6975; }
.card { background-color: #fff; color: #73879C; padding: 20px; margin: 10px 0; }
.card a { color: inherit; }
.card-number a { color: inherit; }
.card-half { float: left; width: 50%; }
.card-header { margin: 0!important; }
p.card-maj {     margin: 0px; font-size: 10px; font-style: italic; font-weight: 300; }
.card-number { font-size: 30px; font-weight: 300; margin: 0!important; font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif; }
.card-tab { background-color: #fff; color: #73879C; padding: 20px; margin: 0px 0 10px; }
.tresorerie .card-number { font-size: 20px; font-weight: 300; }

.nav-tabs > li > a { border-radius: 0; }
.dashboard-tab .nav-tabs { margin-top: 10px; border-bottom: none; }
.dashboard-tab .nav-tabs > li > a { border: none!important; color: #aaa;}

#commandes, #facture_non_encaisse, #pipe, #facture, #fournisseur, #releve { cursor: pointer; }

.ca_target { font-size: 18px; }

.btn-tdb { border: 1px solid #eee; border-radius: 0; font-size: 11px;  padding: 6px 10px; text-transform: none; }

/*HIGHCHART*/
/*#hchart .highcharts-container { max-width: 100%; }
#hchart svg { max-width: 100%; }
.highcharts-title { font-family: "Helvetica Neue", Helvetica, "Open Sans"; }
.point { font-family: "Helvetica Neue", Helvetica, "Open Sans"; color: #73879C; text-align: center;  }
.point_percent { font-size: 16px; font-weight: 400; }*/

canvas { width: 100%; }

/*Legend*/
.table-legend { width: 100%; max-width: 100%; margin: 10px 0; border-collapse: separate; border-spacing: 8px; font-size: 11px; }
.table-legend .nb { text-align: right; }
.table-legend-total td { border-top: 1px solid #eee; border-bottom: : 1px solid #eee; font-weight: 700; padding: 2px 0; }
